<h2>{{ heading }}</h2>

<p>Use this site to check the weather forecast of your location :)</p>

<form action="" id="weather-form">
    <input type="text" id="search" name="search" placeholder="What's your location?">
    <button type="submit">Search</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>

<script src="/assets/js/app.js"></script>